{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block content %}

            <section class="sectionforprofile">
                <div class="blockfio">
                    <div class="divfio"><div class="divfio2">{{ user.username }}</div>
                        <hr>
                        <a href="{% url 'profile' %}" class="backtoprofile">Вернуться к профилю</a>
                    </div>
                </div>
                <div>

                </div>
                <div align="right"><button onclick="location.href='{% url 'logout' %}?next=/profile'">Выйти</button></div>
            </section>
            <aside class="aside"></aside>
            <section class="cart-list"><div class="myproducts">Моя корзина</div>
                    <div class="cart-listblock">
                        <div class="n1"><h3>Общая сумма</h3></div>
                        <div class="nprice"><h2>{{ total_price|currency }}</h2></div>
                    </div>
                {% if mycart %}
                {% for mc in mycart %}
                    <div class="cart-listblock">
                        <div class="n1">{{ mc.id }}</div>
                        <div class="n1">{{ mc.product }}</div>
                        <div class="n2photo">
                            <img class="photopr" src="{{ mc.product.image.url }}">
                        </div>
                        <div class="n1">{{ mc.product.price|currency }}</div>
                        <div class="n1">{{ mc.quantity }}</div>
                        <div class="n1">{{ mc }}</div>
                        <div class="n1"><a href="{% url 'removefromcart' mc.id %}">Убрать из корзины</a></div>
                    </div>
                {% endfor %}
                {% else %}
                <div class="cartempty">Корзина в данный момент пуста, добавляйте понравившийся товар в корзину, что бы ее наполнить!</div>
                {% endif %}
            </section>
    <footer class="footer">
        <div>Лучше недосолить и потом посолить четко, чем сразу же пересолить</div>
    </footer>
{% endblock content %}