{% extends 'flatpages/default.html' %}

{% block content %}

            <section class="sectionforprofile">
                <div class="blockfio">
                    <div class="divfio">{{ user.username }}
                        <hr>
                    </div>
                </div>
                <div>

                </div>
                <div align="right"><button onclick="location.href='{% url 'logout' %}?next=/profile'">Выйти</button></div>
            </section>
            <aside class="aside"></aside>
            <section class="cart-list"><div class="myproducts">Мои товары на продаже:</div>
                {% if my_listproducts %}
                {% for prd in my_listproducts %}
                <div class="cart-listblock">
                    <div class="n1">{{ prd.id }}</div>
                    <div class="n2photo">
                        <img class="photopr" src="{{ prd.images.url }}">
                    </div>
                    <div class="n3">{{ prd.product_name|truncatechars:10 }}</div>
                    <div class="n4price">{{ prd.price }}</div>
                    <div class="number">{{ prd.quantity }}</div>
                    {% if request.user == prd.author %}
                        <div class="numberdel">
                        <form id="delete_form{{prd.id}}" action="{% url 'delete' prd.id %}" method="post">{% csrf_token %}</form>
              <a href="javascript:void()" onclick="delete_question{{prd.id}}()">Снять с продажи</a>
              <script>
                  function delete_question{{prd.id}}() {
                      if (confirm("Вы уверены?")) {
                          document.getElementById('delete_form{{prd.id}}').submit()
                      }

                  }

                  </script>
                        </div>


                    {% else %}
                        <div class="numberdel">Нет доступа</div>
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                <div>Вы еще не подавали объявлений о продаже!</div>
                {% endif %}
            </section>

{% endblock content %}