<!DOCTYPE html>
{% load static %}
<html class="page" lang="ru">
    <head>
        <title>Маркет плейс</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/slider.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                new Slider(document.querySelector('.carousel'));
            });
        </script>
    </head>
    <body class="page__body">
        <header class="header">
            <div class="logo"><a class="main" href="{% url 'plist' %}">SShop</a></div>
            <form action="" method="get" class="search">
                <input class="search__input" name="product_name__icontains" id="id_product_name__icontains" type="text" placeholder="Машина" aria-label="Поиск по сайту">
                <button class="search__button" type="submit">Поиск</button>
            </form>
            <div class="top-requests">
                <button class="top-requests__button" type="button">Одежда</button>
                <button class="top-requests__button" type="button">Жильё</button>
                <button class="top-requests__button" type="button">Авто</button>
                <button class="top-requests__button" type="button">Электроника</button>
                <button class="top-requests__button" type="button">Мебель</button>
            </div>
            <div class="login"><a class="a__login" href="{% url 'account_login' %}">Профиль</a></div>
            {% if request.user.is_authenticated %}
            <div class="create">
                <div class="login2"><a class="a__login" href="{% url 'create' %}">Добавить объявление</a></div>
            </div>
            {% endif %}
        </header>
        <main class="middle">
        {% block content %}
        {% endblock content %}
        </main>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jQuery.Brazzers-Carousel.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% block js %}



{% endblock %}

    </body>
</html>